# 1）进入项目目录
cd /Users/aaron/PJ/mac/heroku-vpn

# 2）配置 heroku
```
## 登录
heroku create

## 推送代码到 heroku
git push heroku master

## 配置参数（相当于登录 heroku 网址-进入项目-Setting-设置 Config Vars）
heroku config:set METHOD=aes-256-cfb PASSWORD=设置密码 SERVER_ADDRESS=0.0.0.0
```

# 3）打开 shadowsocks 客户端并新增 heroku 节点

# 4）杀掉 shadowsocks 本地 socks5 进程（每次提示端口占用，都要杀掉一次）
kill -9 $(lsof -i tcp:1086 -t)

# 5）监听 shadowsocks 本地 Socks5 端口
```
## 安装 node.js
brew install node

## 用 node 连接 heroku （需修改：heroku 网址，1086 这个socks5端口，加密方式，密码）
node local.js -s vpnxxx.herokuapp.com -l 1086 -m aes-256-cfb -k password -p 80
```